<div class="mypage-container">
  <!--メニューボダン-->
  <div class="mypage-menu">
    <%= render 'menu'%>
  </div>

  <!--登録情報-->
  <div class="personal_information">
    <%= render 'personal_information', end_user: @end_user %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "戻る", root_path, class:"btn btn-light" %>
</div>