<div class="d-flex justify-content-start">
  <!--メニューボダン-->
  <%= render 'menu'%>

  <!--登録情報-->
  <%= render 'personal_information', end_user: @end_user %>
  
</div>

<div class="d-flex justify-content-center">
  <%= link_to "戻る", root_path, class:"btn btn-light" %>
</div>