// Place all the styles related to the public/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mypage-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.mypage-menu {
  width: 280px;
  margin-right: 20px;
}

.personal_information {
  width: 700px;
}

.mypage-menu-list {
  width: 280px;
  margin-bottom: 20px;
}

.mypage-menu-list a {
  color: #FAFAFA;
}

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  .mypage-container {
  width: 90%;
  margin: 0 auto;
  display: column-reverse;
  }
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {

}
/* スマートフォンサイズ（426px）以下の際に適用される設定 */
@media screen and (max-width:426px) {

}