// Place all the styles related to the public/end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// showのCSSーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.mypage-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.mypage-menu {
  width: 280px;
  margin-right: 20px;
}

.personal_information {
  width: 700px;
}

.mypage-menu-list {
  width: 280px;
  margin-bottom: 20px;
}

.mypage-menu-list a {
  color: #FAFAFA;
}

// editのCSSーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.edit-container {
  width: 650px;
  margin: 0 auto;
}

// reserved_hospitalsのCSSーーーーーーーーーーーーーーーーーーーーーーーーー
 .reserved-hospitals-container {
   width: 1000px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
 }

 .reserved-hospitals-box {
   border: 1px solid #BAC0C6;
   padding: 10px;
   margin: 20px 0;
 }

 .reseravation {
   border-bottom: 1px solid #BAC0C6;
   padding-bottom: 5px;
 }

 .hospital-details {
   width: 100%;
   display: flex;
 }




/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {

}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
// showのCSSーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .mypage-container {
    width: 90%;
    flex-direction: column-reverse;
  }

  .personal_information {
    width: 100%;
  }

  .mypage-menu {
    margin: 0 auto;
  }


// editのCSSーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .edit-container {
  width: 90%;
  }

// reserved_hospitalsのCSSーーーーーーーーーーーーーーーーーーーーーーーーー
 .reserved-hospitals-container {
   width: 90%;
 }
}
/* スマートフォンサイズ（426px）以下の際に適用される設定 */
@media screen and (max-width:426px) {
  .reseravation {
    margin-bottom: 10px;
  }

  .hospital-details {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

}