<table class="table table-bordered">
  <tr class="table-primary">
    <th>診療科名</th>
  </tr>
  <% @temporary_departments.each do |temporary_department| %>
    <tr>
      <td><%= temporary_department.name %></td>
    </tr>
  <% end %>
</table>
この診療科で登録してよろしいですか？


<%=link_to '確定して病院情報の入力へ進む', new_admin_hospital_path %>