<div class="d-flex justify-content-around">
  <div>
    <%= link_to 'ユーザー一覧', admin_end_users_path, class:"btn btn-outline-success" %>
  </div>
  <div>
    <%= link_to '病院一覧',admin_hospitals_path, class:"btn btn-outline-success" %>
  </div>
  <div>
    <%= link_to '病院を追加する',admin_temporary_departments_path, class:"btn btn-outline-success" %>
  </div>


</div>