<%= link_to '新しい病院を登録する',new_admin_hospital_path %>

<table class="table">
  <tr>
     <th>
      病院
    </th>
    <th>
      住所
    </th>
  </tr>
  <% @hospitals.each do |hospital| %>
    <tr>
      <td>
        <%= link_to admin_hospital_path(hospital.id) do %> 
          <%= hospital.name %>
        <% end %>
      </td>
      <td>
        <%= hospital.postal_code + " " + hospital.address %>
      </td>
    </tr>
  <% end %>
</table>

