<div class="text-center">
    <p>診察予約が完了しました。</p>
    <p>あなたは<strong class="text-danger"><%= @hospital.reservations.where(reservations: { status: :accepted }).count %>番目</strong>です。</p>
    <%= link_to "マイページへ戻る", public_end_users_path, class:"btn btn-light" %>
</div>