// Place all the styles related to the admin/hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hospital-container {
  width: 1000px;
  margin: 0 auto;
}

.hospital-box {
  border: 1px solid #BAC0C6;
  padding: 10px;
  margin: 20px 0;
}

.hospital-lower {
  display: flex;
}

.hospital-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.hospital-details {
  flex-direction: column;
  list-style: none;
}

.hospital-detail-icon {
  margin-right: 10px;
}

.hospital-details li {
  margin-bottom: 10px;
}

.clinical-departments-name {
  border-right: 1px solid #000000;
  padding: 0 5px;
}


.clinical-departments-name:last-child {
  border-right: none;
}

.table-head {
  width: 130px;
}

.time-infomation-mobile {
    display: none;
  }

.department-name {
  margin-right: 10px;
}


/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  .hospital-container {
    width: 90%;
  }
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {

}
/* スマートフォンサイズ（426px）以下の際に適用される設定 */
@media screen and (max-width:426px) {
  .hospital-box {
    flex-direction: column;
  }

  .hospital-image img {
    width: 230px;
    height: 150px;
  }

  h4 {
    border-bottom: 3px solid #17A2B8;
    text-align: center;
  }

  .time-infomation {
    display: none;
  }

  .time-infomation-mobile {
    border: 1px solid #BAC0C6;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }

  .time-table-mobile-head {
    width: 10px;
  }

}