<div class="d-flex justify-content-center">
  <%= form_with model: @clinical_department do |f| %>
    <div class="field">
      <%= f.label :診療科名 %>
      <<%= f.text_field :name, placeholder: "診療科名", accept: "name" %>
    </div>

    <div class="actions">
      <%= f.submit "登録" %>

    </div>
  <% end %>
</div>
