  <div class="d-flex justify-content-around">
    <div class="border rounded text-center p-5">
      <%= link_to owner_hospital_path(current_owner.hospital.id) do %>
        病院詳細<br>
        <i class="fas fa-hospital-alt"></i>
      <% end %>
    </div>
    <div class="border rounded text-center p-5">
      <%= link_to owner_owners_path do %>
        オーナー一覧<br>
        <i class="fa-regular fa-user"></i>
      <% end %>
    </div>
    <div class="border rounded text-center p-5">
      <%= link_to owner_reservations_path do %>
        診察予約一覧<br>
        <i class="fas fa-hospital-user"></i>
      <% end %>
    </div>
  </div>