<div class="container d-flex justify-content-around">
        <div class="item">
            <%= link_to public_hospitals_path do %>
                病院を探す<br>
                <i class="fas fa-search icon"></i>
            <% end %>
        </div>
        <div class="item">
            <%= link_to public_end_users_path do %>
                マイページ<br>
                <i class="fas fa-user-circle icon"></i>
            <% end %>
        </div>
</div>