<div class="d-flex justify-content-around">
        <div class="border rounded text-center p-5">
            <%= link_to public_hospitals_path do %>
                病院を探す<br>
                <i class="fas fa-search"></i>
            <% end %>
        </div>
        <div class="border rounded text-center p-5">
            <%= link_to public_end_users_path do %>
                マイページ<br>
                <i class="fas fa-user-circle"></i>
            <% end %>
        </div>
</div>