<div class="d-flex justify-content-start">
  <!--メニューボダン-->
  <div class="d-flex flex-column ml-4">
    <ul class="list-unstyled">
      <li class="mb-2">
        <%= link_to edit_admin_end_user_path, class:"btn btn-secondary" do %>
          <i class="fas fa-user-cog"></i>
          登録情報を編集する
        <% end %>
      </li>
      <li class="mb-2">
        <%= link_to '退会する', admin_end_user_end_users_unsubscribe_path(end_user_id: @end_user.id), class:"btn btn-secondary" %>
      </li>
    </ul>
  </div>

   <!--登録情報-->
  <%= render 'public/end_users/personal_information', end_user: @end_user %>

</div>

<div class="d-flex justify-content-center">
  <%= link_to "戻る", admin_end_users_path, class:"btn btn-light" %>
</div>