<%= render 'owners', url: admin_hospital_owners_path %>

<div class="d-flex justify-content-around">
  <div class="m-2">
    <%= link_to "戻る", admin_hospital_path(@hospital), class:"btn btn-light" %>
  </div>
</div>