
<%= render 'admin/hospitals/hospital-information', hospital: @hospital %>

  
  <!--メニューボタン-->
  <div class="d-flex justify-content-around">
    <div class="m-2"><%= link_to "病院情報を編集する", edit_owner_hospital_path, class:"btn btn-success" %></div>
    <div class="m-2"><%= link_to "戻る", root_path, class:"btn btn-light" %></div>
  </div>
</div>